<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%- if title %}{{title}} | {% endif %}{{site.title}}</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="/assets/main.css">
  <script src="/assets/bundle.js" defer></script>
</head>
<body>
  {{ content | safe }}
</body>
</html>
